test_validate/**
jest-test.sh
tests_config/
.github/
test/**
tests/**
__snapshots__
jest.config.js
renovate.json
__tests__
.eslint*
**/__mocks__/**
**/__tests__/**
**/examples/**
**/tasks/**
coverage/**
scripts/**
codecov.yml
index.spec.js
tsconfig.json
