test_validate/**/*
jest-test.sh
tests_config/
.github/
test/
tests/
__snapshots__
jest.config.js
renovate.json
test_config/
__tests__
.eslint*
!src/*.js
**/__mocks__/**
**/__tests__/**
**/examples/**
**/tasks/**
coverage/
scripts/**
